@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --heading-font: 'Open Sans', sans-serif;
  --body-font: "Raleway", sans-serif;
}

* {
  margin: 0;
}

body {
  /* border: 2px solid black; */
  width: 375px;
  margin: auto;
  font-family: var(--body-font);
}

h2, li {
  font-family: var(--heading-font);
  font-weight: 700;
}
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}
.logo {
  width: 100px;
}
.navbar ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navbar ul li {
  cursor: pointer;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  font-size: 14px;
}
.navbar ul li:hover {
  color: hsl(238, 22%, 44%);
  transform: scale(1.1);
}
.block1 {
  width: 94%;
  display: flex;
  flex-direction: column-reverse;
  margin: 70px auto;
}
.description {
  text-align: center;
  padding: 28px 8px;
}
h2 {
  padding: 10px 0;
  color: hsl(243, 87%, 12%);
  font-weight: 700;
}
p {
  padding: 10px 0;
  line-height: 1.4;
  color: hsl(238, 22%, 44%);
}
.form {
  margin: 10px auto;
  width: 94%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.email {
  height: 35px;
  box-sizing: border-box;
  margin: 5px 0;
  font-weight: normal;
  padding-left: 12px;
  font-size: 12px;
  outline: none;
}
::placeholder {
  color: hsl(0, 0%, 75%);
  font-size: 11px;
}
.button {
  height: 37px;
  margin: 5px 0;
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 2px;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px 8px 0 hsla(239, 22%, 44%, 0.3);
}
.image-container {
  width: 80%;
  margin: auto;
}
.image-container img {
  width: 100%;
}


.block2 {
  background-color: #F8F8FE;
  width: 94%;
  display: flex;
  flex-direction: column-reverse;
  margin: 0px auto;
}
.background {
  width: 94%;
  height: 50px;
  margin: auto;
  background-image: url(images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.block2 .image-container img {
  padding: 30px 0 20px;
}
.description-title {
  font-size: 15px;
  color: hsl(243, 87%, 12%);
}
.block2 p {
  text-align: start;
  font-size: 14px;
  color: hsl(238, 22%, 44%);
}
.link-container {
  margin: 20px auto;
  width: 140px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}
.link-container a {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  font-size: 13px;
  padding: 4px 2px;
}

.box {
  width: 80%;
  margin: 0px auto 70px;
  background-color: white;
  box-shadow: 0px 0px 16px 0px hsla(239, 22%, 44%, 0.3);
  border-radius: 5px;
}
.user-experience {
  padding: 6px 9px;
  box-sizing: border-box;
}
.user-experience img {
  padding: 12px 10px 4px;
}
.user-experience p {
  color: hsl(243, 87%, 12%);
  font-size: 11px;
  padding: 0 10px;
}
.user-details {
  display: flex;
  align-items: center;
  padding: 10px 0 20px;
}
.user-details img {
  width: 24px;
  border-radius: 50%;
  margin-left: 12px;
  padding: 0 8px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info h3 {
  font-size: 10px;
  margin: 0;
}
.user-info span {
  font-size: 7px;
  padding-top: 2px;
}

.access-container {
  width: 350px;
  box-sizing: border-box;
  background-color: hsl(238, 22%, 44%);
  margin: auto;
  padding: 40px 0;
}
.access-details h3, 
.access-details p {
  color: #F8F8FE;
  text-align: center;
  font-size: 14px;
  padding: 8px 38px;
  line-height: 1.5;
}
.access-details h3 {
  font-size: 18px;
}
.access-form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 65%;
  height: 100px;
}

footer {
  width: 350px;
  margin: auto;
  background-color: hsl(243, 87%, 12%);
  padding-bottom: 20px;
}
.contact {
  padding: 60px 35px 50px;
}
.logo-footer-container {
  margin-bottom: 30px;
}
.phone-container,
.email-container {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 20px;
  font-family: var(--heading-font);
}
.phone-icon,
.email-icon {
  width: 20px;
  height: 18px;
  margin-right: 20px;
}

.about ul li, 
.contact-us ul li {
  list-style-type: none;
  padding: 10px 0;
}

.contact-us {
  margin-top: 30px;
}
.about ul li a,
.contact-us ul li a {
  color: white;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
}
.about ul li:hover,
.contact-us ul li:hover {
  text-decoration: underline;
}
.social {
  width: 35%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}
.social svg:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    margin: auto;
  }
  .navbar ul {
    width: 25%;
  }
  .block1 {
    width: 100%;
    flex-direction: row;
  }
  .description {
    text-align: start;
    width: 92%;
  }
  h2 {
    font-size: 34px;
  }
  .form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0;
  }
  .email {
    width: 50%;
  }
  .button {
    width: 35%;
    margin-left: 10px;
    box-sizing: border-box;
  }

  .block2 {
    flex-direction: row;
    width: 100%;
    padding-bottom: 60px;
  }
  .background {
    background-image: url(images/bg-curve-desktop.svg);
    background-size: cover;
    height: 100px;
    width: 100%;
  }
  .block2 .description {
    width: 90%;
  }
  .block2 .description-title {
    font-size: 28px;
    letter-spacing: 1.2px;
  }
  .block2 .description p {
    line-height: 1.6;
    padding: 5px 0;
    width: 88%;
  }
  .description-container {
    padding-left: 35px;
  }
  .block2 .image-container {
    width: 50%;
    padding-right: 35px;
  }
  .link-container {
    margin: 5px 0;
  }
  .box {
    width: 50%;
    margin: 0;
  }
  .box .user-experience {
    padding: 8px 18px 0;
  }
  .box .user-experience p {
    line-height: 1.5;
  }
  .user-details img {
    margin-left: 20px;
  }

  .access-container {
    width: 100%;
    display: flex;
    padding: 50px 0;
  }
  .access-details {
    width: 65%;
  }
  .access-details h3 {
    font-size: 26px;
    text-align: start;
  }
  .access-details p {
    text-align: start;
  }
  .email.desktop {
    width: 68%;
    margin-left: 100px;
  }
  .button.desktop {
    width: 30%;
    margin-left: 100px;
  }

}