@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --heading-font: 'Open Sans', sans-serif;
  --body-font: "Raleway", sans-serif;
}

* {
  margin: 0;
}

body {
  /* border: 2px solid black; */
  width: 375px;
  margin: auto;
  font-family: var(--body-font);
}

h2, li {
  font-family: var(--heading-font);
  font-weight: 700;
}
.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}
.navbar img {
  width: 22%;
}
.navbar ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navbar ul li {
  cursor: pointer;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
}

.block1 {
  width: 94%;
  display: flex;
  flex-direction: column-reverse;
  margin: 70px auto;
}
.description {
  text-align: center;
  padding: 28px 8px;
}
h2 {
  padding: 10px 0;
  color: hsl(243, 87%, 12%);
}
p {
  padding: 10px 0;
  line-height: 1.4;
  color: hsl(238, 22%, 44%);
}
.form {
  margin: 10px auto;
  width: 94%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.email {
  height: 35px;
  box-sizing: border-box;
  margin: 6px 0;
  font-weight: normal;
  padding-left: 12px;
  font-size: 12px;
  outline: none;
}
::placeholder {
  color: hsl(0, 0%, 75%);
  font-size: 11px;
}
.button {
  height: 37px;
  margin: 6px 0;
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  font-weight: bold;
  border-radius3: 2px;
  font-size: 12px;
}
.image-container {
  width: 80%;
  margin: auto;
}
.image-container img {
  width: 100%;
}


.block2 {
  background-color: #F8F8FE;
  width: 94%;
  display: flex;
  flex-direction: column-reverse;
  margin: 0px auto;
}
.background {
  width: 94%;
  height: 50px;
  margin: auto;
  background-image: url(images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.block2 .image-container img {
  padding: 30px 0 20px;
}
.description-title {
  font-size: 15px;
  color: hsl(243, 87%, 12%);
}
.block2 p {
  text-align: start;
  font-size: 14px;
  color: hsl(238, 22%, 44%);
}
.link-container {
  margin: 20px auto;
  width: 140px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}
.link-container a {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  font-size: 13px;
  padding: 4px 2px;
}

.box {
  width: 80%;
  margin: 0px auto 70px;
  background-color: white;
  box-shadow: 0px 0px 16px 0px hsla(239, 22%, 44%, 0.3);
  border-radius: 5px;
}
.user-experience {
  padding: 6px 9px;
  box-sizing: border-box;
}
.user-experience img {
  padding: 12px 10px 4px;
}
.user-experience p {
  color: hsl(243, 87%, 12%);
  font-size: 11px;
  padding: 0 10px;
}
.user-details {
  display: flex;
  align-items: center;
  padding: 10px 0 20px;
}
.user-details img {
  width: 24px;
  border-radius: 50%;
  margin-left: 12px;
  padding: 0 8px;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info h3 {
  font-size: 10px;
  margin: 0;
}
.user-info span {
  font-size: 7px;
  padding-top: 2px;
}